Flask
numpy
pandas
pycountry
httplib2
langid
PyMySQL
snownlp
requests
selenium
pypinyin
gevent
google-api-python-client~=2.91.0
google-api-core~=2.11.0
emoji
jieba
scikit-learn
transformers
gensim
matplotlib
uwsgi